PORT=4177
POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
AU_TOKEN_ADDRESS=0xE35Ba492b2C7e58FA6691dd631B3b6c7FE5D4914
USDT_TOKEN_ADDRESS=0xc2132D05D31c914a87C6611C10748AEb04B58e8F
OWNER_WALLET_ADDRESS=
TARGET_START_PRICE=7
TARGET_LOWER_PRICE=7
TARGET_UPPER_PRICE=10
DEFAULT_AU_DEPOSIT=10000
DEFAULT_FEE_TIER=3000
MONITOR_INTERVAL_MS=60000
